@font-face {
    font-family: "Urban-Rebel";
    src: url(fonte/Urban-Rebel.ttf);
}

body {
    color: #ffffff;
    background: #20635a;
    margin: 0px;
    font-family: "Urban-Rebel";
    margin-bottom: 100px;
    

    
}

header {
    border-bottom: solid 5px #ffffff;
    padding: 20px;
    font-size: 60px;
    color: #ffffff
        
}

.chamada {
    background: #2b9c84;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;


}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left:20px;
    padding-right:20px;
    margin-top: 50px
}

.categoria-videos img {
    opacity: 0.5;
    height:200px
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 3px solid orange
}